/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
/* overpass-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Overpass";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/overpass-v16-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* overpass-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Overpass";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/overpass-v16-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

body {
  background: #131518;
  color: #969fad;
  font-family: "Overpass", sans-serif;
}
.wrapper {
  width: min(100% - 3rem, 25.75rem);
  margin-inline: auto;
  padding: 1rem;
}
.card {
  background: radial-gradient(#232a34, #181e27);
  border-radius: 30px;
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
}
.card__logo {
  width: 51px;
  height: 51px;
  border-radius: 50%;
  background: #262e38;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card__text {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
}
.card__heading {
  font-size: 1.5rem;
  color: white;
}
