/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
/* overpass-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Overpass";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/overpass-v16-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* overpass-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Overpass";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/overpass-v16-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

body {
  background: #131518;
  color: #969fad;
  font-family: "Overpass", sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hidden {
  display: none !important;
}
.wrapper {
  width: min(100% - 3rem, 25.75rem);
  margin-inline: auto;
  padding: 1.5rem;
}
.card {
  background: radial-gradient(#232a34, #181e27);
  border-radius: 15px;
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
}
.card__logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #262e38;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card__logo--big {
  width: 162px;
  height: 108px;
  margin-inline: auto;
}
.card__text {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
}
.card__text--center {
  text-align: center;
}
.card__heading {
  font-size: 1.5rem;
  font-size: clamp(
    1.5rem,
    1.2614503816793894rem + 1.0178117048346056vw,
    1.75rem
  );
  color: white;
  font-weight: 700;
}
.card__desc {
  font-size: 0.875rem;
  font-size: clamp(
    0.875rem,
    0.8153625954198473rem + 0.2544529262086514vw,
    0.9375rem
  );
  line-height: 22px;
}
.card__button-container {
  display: flex;
  justify-content: space-between;
}

.rating-button {
  /*  text-decoration: none;*/
  width: 42px;
  height: 42px;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  background: #262e38;
  color: #969fad;
}
.rating-button:hover,
.rating-focus:focus {
  background: #fc7614;
  color: #262e38;
}

.button {
  width: 100%;
  border: none;
  display: block;
  background: #fc7614;
  border-radius: 22.5px;
  display: flex;
  justify-content: center;
  padding-block: 0.84375rem;
  text-decoration: none;
  color: #131518;
  text-transform: uppercase;
  letter-spacing: 1.87px;
  font-size: 14px;
}
.button:hover,
.button:focus {
  background: white;
  color: #262e38;
}
.card__thank-you-button-container {
  width: clamp(10.5rem, 9.009064885496183rem + 6.361323155216285vw, 12.0625rem);
  margin-inline: auto;
}
.button--medium {
  letter-spacing: 0;
  text-transform: none;
  color: #fc7614;
  background: #262e38;
  cursor: inherit;
}
.button--medium:hover,
.button--medium:focus {
  color: #fc7614;
  background: #262e38;
}
@media screen and (min-width: 768px) {
  .wrapper {
    /*    width: min(100% - 4.4375rem, 25.75rem);*/
    padding: 2.2rem;
  }
  .card__desc {
    line-height: 24px;
  }
  .rating-button {
    width: 51px;
    height: 51px;
    font-size: 16px;
  }

  .button {
    font-size: 0.9375rem;
    letter-spacing: 2px;
  }
}
